<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>description</key>
		<string>My Homeland</string>
		<key>pid</key>
		<string>0</string>
		<key>name</key>
		<string>Bangladesh</string>
		<key>id</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>name</key>
		<string>Southest</string>
		<key>pid</key>
		<string>1</string>
		<key>description</key>
		<string>Faridpur</string>
	</dict>
	<dict>
		<key>id</key>
		<string>3</string>
		<key>name</key>
		<string>northwest</string>
		<key>pid</key>
		<string>1</string>
		<key>description</key>
		<string>Sylhet</string>
	</dict>
	<dict>
		<key>id</key>
		<string>4</string>
		<key>name</key>
		<string>northeast</string>
		<key>pid</key>
		<string>1</string>
		<key>description</key>
		<string>Moulvi Bazar</string>
	</dict>
	<dict>
		<key>id</key>
		<string>5</string>
		<key>name</key>
		<string>Middle</string>
		<key>pid</key>
		<string>3</string>
		<key>description</key>
		<string>Dhaka</string>
	</dict>
	<dict>
		<key>id</key>
		<string>6</string>
		<key>name</key>
		<string>Middle</string>
		<key>pid</key>
		<string>3</string>
		<key>description</key>
		<string>Gazipur</string>
	</dict>
	<dict>
		<key>id</key>
		<string>7</string>
		<key>name</key>
		<string>East</string>
		<key>pid</key>
		<string>2</string>
		<key>description</key>
		<string>Comilla</string>
	</dict>
	<dict>
		<key>id</key>
		<string>8</string>
		<key>name</key>
		<string>Southest</string>
		<key>pid</key>
		<string>2</string>
		<key>description</key>
		<string>Barishal</string>
	</dict>
	<dict>
		<key>id</key>
		<string>9</string>
		<key>name</key>
		<string>North</string>
		<key>pid</key>
		<string>5</string>
		<key>description</key>
		<string>Rajshahi</string>
	</dict>
	<dict>
		<key>id</key>
		<string>10</string>
		<key>name</key>
		<string>Southest</string>
		<key>pid</key>
		<string>5</string>
		<key>description</key>
		<string>Chittagong</string>
	</dict>
</array>
</plist>
